%span 
  Total Instantiations: 
  = solr_result.hits.length
  =link_to "Create another Instantiation", recording_instantiations_path(:recording=>recording), :method=>'post'

%table#talks.column
  %col{:width=>"30%"}/
  %col{:width=>"25%"}/
  %col{:width=>"30%"}/
  %col{:width=>"15%"}/
  %tr
    %th Filename             
    %th Format         
    %th Uploaded by  
    %th Workflow Status                                                                  
    %th Location
    %th 
  =render :partial=>'recording_instantiations/table_result', :collection=>solr_result.hits