- document = document.nil? ? table_result : document
%tr[document]
  %td.instantiation_identifier
    =link_to document["instantiation_identifier_t"], recording_instantiation_path(document["id"])
  %td.format
    =#Marpa::MarpaCore.iana_mime_types[ document["iana_format_t"].first ]
  %td.uploaded_by
    
  %td.location
    =document["location_t"]
