.DS_Store
nohup.out

*.sqlite3
*.log
*~
*.swp
*.swo

vendor/plugins/haml/init.rb
vendor/plugins/blacklight/.git
log/*
coverage.data
coverage/*

public/plugin_assets
public/plugin_assets/

tmp/**/*
tmp/performance 

rerun.txt

db/schema.rb
db/development_structure.sql
db/*.sqlite3-journal

.project
.buildpath

/.bundle
/.yardoc
/doc
