body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: white;
}

a.destructive {
	background-image: none;
	width: 40px;
}

a.destructive:hover {
	background-image: none;
	width: 40px;
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 30px;
}

th {
	font-weight: normal;
	padding-left: 10px;
}

h3 {
	margin-left: 20px;
}

dl {
	margin-left: 30px;
}

.uvafield {
	margin-left: 50px;
	width: 500px;
	margin-bottom: 20px;
}

.uvafield .editable-text{
	font-size: 108%;
}

div #add-contributor-box {
	margin-bottom: 20px;
}

a:link, a:visited, a:active {
	border-bottom-color: #2E4F81;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	color: #2E4F81;
	text-decoration: none;
}

table#file_assets {
	margin-bottom: 0;
}

#keywords {
	margin-top: -20px;
}

#keywords dt {
	margin-left: 15px;
}

#hd, #doc4 {
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

#bd {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
	margin-bottom: 35px;
}

#uva_lib_banner {
	width: 100%;
	height: 31px;
	background-color: #0F1C38;
}

#uva_lib_banner img {
	margin-top: 8px;
	margin-left: 765px;
}

#uva_lib_banner #container1 {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}

#container1 a {
	border: none;
}

.yui-u {
	margin-top: -78px;
	margin-right: 20px;
}

.yui-u a, .yui-u a:active, .yui-u a:visited {
	color: white;
	border: none;
}

#libra_banner, .yui-g {
	height: 78px;
	width: 100%;
	background-image: url(../../images/uva/libra_banner_bg.jpg);
	background-repeat: repeat-x;
	color: #F3A729;
}


#libra_banner {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 38px;
}

#libra_banner {
}

#libra_banner #container2, #container2 {
	width: 300px;
	text-align: left;
	margin-left: 20px;
}

#container2 a {
	margin: 10px;
	border: none;	
}

#frame {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
	margin-bottom: 35px;
}

#side_bar, #facets {
/*	height: 680px;*/
	width: 189px;
	border: thin solid #8F95A3;
}

.side_bar_heading, #facets div h3 {
	background-color: #CCD9F2;
	height: 50px;
}

#facets {
	padding-left: 0;
}

#facets h2 {
	color: #617DA6;
	font: normal normal normal 10px/20px helvetica, arial, verdana, sans-serif;
	margin: 0.625em 0px 0.625em 10px;
	text-transform: uppercase;
}

#facets div {

}

#facets div h3 {
	margin-top: 0;
	margin-left: 0;
	color: #4079A0;	
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	padding: 1.2em 10px;	
	height: 20px;	
}

.side_bar_content, #facets div ul {
	background-color: #E5EBFD;
	padding: 0;
}

.side_bar_content, #facets div ul li {
	padding: 0 10px;	
	line-height: 20px;
	display: block;
}

#search {
	width: 760px;
	float: right;
	background-image: url(../../images/uva/search_bg.jpg);
	background-repeat: repeat-x;
	height: 42px;
	position: static;
}


#search #form1 {
	height: 25px;
	width: 615px;
	margin-left: 12px;
	background-color: #FFF;
	margin-top: 7px;
	border: thin solid #0F1C38;
}

#search form {
	width: 700px;
	height: 25px;
	margin-left: 10px;
	margin-top: 8px;
}

#search form #q {
	width: 600px;
	margin-
}

#search form input[type=image] {
	padding: 0 6px;
	float: right;
}

.yui-t2 #yui-main .yui-b {
	border: none;
	margin-left:100px;
	padding:0;
}

#content {
	width: 723px;	
	float: right;
	margin-top: -640px;
}

#content, .document, #results {
	min-height: 638px;	
	background-color: #F1F1F1;
	border: thin solid #C8C8C8;	
}

#appliedParams {
	width: 700px;
	background-color: #F1F1F1;
	margin-top: 50px;
}

#appliedParams h3 {
	background-color: #F1F1F1;
}

#appliedParams div {
	padding: 0;
}

#appliedParams div, .pagination, #sortAndPerPage {
	background-color: #F1F1F1;
}

.appliedFilter .first {
	background-color: #F1F1F1;
	font-style: italic;
}

.pagination, #sortAndPerPage {
	width: 700px;
}

#sortAndPerPage {
	padding: 0;
	margin: 0;
}

#sortAndPerPage label {
	font-weight: normal;
}

#documents {
	background-color: #F1F1F1;
	width: 700px;
	margin: 0 0 10px 0;	
	padding: 0 0 10px 0;
}

#documents h3 {
	margin-bottom: 5px;
}

.document {
	padding: 10px;
	margin-left: 15px;	
}

#results {
	padding-left: 10px;
	margin-left: 15px;	
}

#footer {
	height: 74px;
	width: 100%;
	background-image: url(../../images/uva/footer_bg.jpg);
	background-repeat: repeat-x;
}

#footer #container3 { 
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	height: 56px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFF;
	line-height: 21px;
	padding-top: 17px;
}

#footer #container3 img {
	float: left;
	margin-top: -15px;
}

div .author_browse_row {
  display: block;
  margin-bottom: 1.54em;
  margin: 0px auto 1.54em;
  padding: 0;
  height:150px;
}

div .author_browse_image {
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: 3.2em;
  vertical_align: baseline;
  margin-top: -5px;
  padding: 9px;
  width: auto;"
}


div #actions {
	margin-top: 20px;
	width: 100%;
	height: 80px;
}

div #primary_action {
	width: 50%;
	margin: auto;
	float: left;
}

div #secondary_action {
	width: 30%;
	margin: auto;
	text-align: right;
	padding: 2px 20px;
	float: right;
}

#uvalicense dl {
	margin-top: -15px;
}

/*Fluid Uploader CSS*/
#uploader, .fl-uploader-queue-wrapper {
	width: 100%;
}

.fl-uploader { 
	width:100%;
	position: relative;
	display: block;
	clear: both;
}

.fl-uploader-manually-degrade, .fl-uploader-manually-enhance { 
	display: block;
	width: 100%;
	clear: both;
	float: none;
	text-align: center;
	padding: 1em;
}

.fl-ProgEnhance-basic div input{margin-top:.6em;}
.fl-ProgEnhance-enhanced{display:none;}
.fl-progEnhance-basic div input{margin-top:.6em;}
.fl-progEnhance-enhanced{display:none;}
.fl-uploader td, .fl-uploader th{border:none;}
.fl-uploader table{border-collapse:separate;margin:0;}
.fl-uploader form{height:auto!important;}

.fl-uploader button {
	background-color:#DFEFFC;
	border-color:#2A3990;
	border-width:1px;
	border-style:solid;
	font-weight:bolder;
	font-size:1.06em;
	color: black;
	height:26px;
	padding-left:2em;
	padding-right:2em;
	margin-right:1em;
	outline:none;
	cursor:pointer;
}

.fl-uploader button:focus,.fl-uploader button.focus{outline:2px solid #142B8C;}

.fl-uploader button:hover{background-color:#115F8F;}

.fl-uploader button.fl-uploader-button-default {
	background-color:#74B74A;
	border-color:#006838;
}

.fl-uploader button.fl-uploader-button-default:hover{background-color:#519325;border-color:#142B8C;}

.fl-uploader button.fl-uploader-button-cancel{background-color:#D03E4F;border-color:#BF1E2D;}

.fl-uploader button.fl-uploader-button-cancel:hover{background-color:#9E182B;border-color:#142B8C;}

.fl-uploader button.fl-uploader-dim{background-color:#999;border-color:#666;}

.fl-uploader button.fl-uploader-dim:hover{background-color:#999;border-color:#666;}

.fl-uploader button span.text-description{display:none;}

.fl-uploader a.fl-uploader-browse {
	background-image:url(../images/add.png);
	background-attachment:scroll;
	background-repeat:no-repeat;
	background-position:5px center;
	padding:4px 7px 4px 26px;
	border:none;
	white-space:nowrap;
	color:#427ABE;
	font-weight:normal;
	cursor:pointer;
}

html>body .fl-uploader a.fl-uploader-browse{padding:3px 6px 3px 25px;border:1px solid transparent;}

.fl-uploader a.fl-uploader-browse:hover{border:1px solid #CCC;background-color:#FFF;}

.fl-uploader a.fl-uploader-browse:focus,.fl-uploader a.fl-uploader-browse.focus{outline:2px solid #142B8C;background-color:#FFF;}

.fl-uploader-browse-overlay{position:absolute;bottom:45px;right:5px;z-index:7;}

.swfupload {
/*	border:1px solid red;*/
}

.fl-uploader-flash10-wrapper { 
	width: 100%;
	position: relative;
	float: left;
}

.fl-uploader-queue-wrapper caption{display:none;}
.fl-uploader-queue-header{background-color:transparent;color:#666;}
.fl-uploader-queue-header th{text-align:left;font-size:.94em;font-weight:normal;padding:6px;}

.fl-uploader-queue-footer{
		position: relative;
		background-color: #F6F6F6;
}
	
.fl-uploader-queue-footer table{width:100%;position:relative;z-index:6;}

.fl-uploader-queue-footer td{
	margin: auto;
	color:#666;
}

.fl-uploader-footer-buttons{text-align:right;}

.fl-scroller {
	display: block;
	position: relative;
	background-color: white;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.fl-scroller .fl-scroller-inner{position:relative;overflow:hidden;}

.fl-uploader-queue {
	width: 100%;
	position: relative;
	font-size: .9em;
	color: #333;
	z-index:6;	
}
.fl-uploader-queue:focus{border:1px solid #142B8C;}
.fl-uploader-queue tr:focus,.fl-uploader-queue tr.fl-uploader-file-focus{background-color:#FFF9DC;}
.fl-uploader-queue tr{background-color:transparent;}
.fl-uploader-queue tr.fl-uploader-file-state-ready:hover,.fl-uploader-queue tr.fl-uploader-file-hover{background-color:#FFF9DC;}
.fl-uploader-queue tr.fl-uploader-dim{color:#666;}
.fl-uploader-queue td,.fl-uploader-queue th{text-align:left;padding:3px 6px;border-bottom:1px solid #BBCFDC;}

/*.fl-uploader-queue-wrapper .fl-uploader-file-name{width:322px;overflow:hidden;}*/

.fl-uploader-queue-wrapper .fl-uploader-file-size {text-align:right;width:4em;white-space:nowrap;}
.fl-uploader-queue .fl-uploader-file-action{border:1px solid transparent;height:20px;width:20px;overflow:hidden;background-color:transparent;background-attachment:scroll;background-repeat:no-repeat;background-position:1px 1px;outline:0;padding:0;margin:0;outline:none;}
.fl-uploader-queue .fl-uploader-file-action:hover{border:1px solid transparent;background-color:transparent;cursor:auto;}
.fl-uploader-queue .fl-uploader-file-actions .fl-uploader-dim{border:1px solid transparent;background-color:transparent;cursor:auto;}
.fl-uploader-queue .fl-uploader-file-action-remove{background-image:url(../images/remove.png);cursor:pointer!important;}
.fl-uploader-queue .fl-uploader-file-action-remove:hover,.fl-uploader-queue tr.fl-uploader-file-state-ready:focus .fl-uploader-file-action-remove,.fl-uploader-queue tr.focus .fl-uploader-file-action-remove{border:1px solid #CCC;background-color:#FFF;}
.fl-uploader-queue .fl-uploader-file-action-remove:focus,.fl-uploader-queue .fl-uploader-file-action-remove.focus{background-color:#4F99D3;outline:none;}
.fl-uploader-queue .fl-uploader-file-state-uploaded th,.fl-uploader-queue tr.fl-uploader-file-state-uploaded th,.fl-uploader-queue tr.focus th{border-left:4px solid #74B74A;color:#5E7A5E;}
.fl-uploader-queue .fl-uploader-file-state-uploaded td{color:#5E7A5E;}
.fl-uploader-queue .fl-uploader-file-state-uploaded .fl-uploader-file-action{background-image:url(../images/tick.png);}
.fl-uploader-queue .fl-uploader-file-state-error th{border-left:4px solid #F5E392;background-color:#FCFBE6;border-bottom-width:0;}
.fl-uploader-queue .fl-uploader-file-state-error td{background-color:#FCFBE6;border-bottom-width:0;}
.fl-uploader-queue .fl-uploader-file-error td{background-color:#FCFBE6;border-left:4px solid #F5E392;background-image:url(../images/error.png);background-position:8px 2px;background-repeat:no-repeat;padding-bottom:8px;padding-left:32px;}
.fl-uploader-queue-wrapper td.fl-uploader-file-actions,.fl-uploader-queue-wrapper th.fl-uploader-file-actions{white-space:nowrap;text-align:center;}
.fl-uploader-queue td.fileStatus{white-space:nowrap;}

.fl-uploader-queue-wrapper .fl-uploader-browse-instructions {
	background-color: white;
	color: #666;
	text-align: center;
	padding: 6px;
}

.fl-uploader-btns{margin-top:1em;text-align:right;}
.fl-uploader-btns .fl-uploader-upload,.fl-uploader-btns .fl-uploader-resume,.fl-uploader-btns .fl-uploader-pause{width:8.4em;}
.fl-uploader-btns .fl-uploader-done,.fl-uploader-btns .fl-uploader-cancel{width:7.6em;}
.fl-uploader-btns button{padding:0;}
button span.fl-uploader-button-text-hidden{display:none;}
.fl-uploader-disabled,.fl-uploader-dim{cursor:auto;}
.fl-uploader-disabled{background-color:#CCC!important;border-color:#999!important;}
.fl-uploader-dim{opacity:.4;filter:alpha(opacity=40);}
.fl-uploader-hidden{display:none;}
.fl-uploader-hidden-templates{display:none;}
.fl-uploader-file-progress,.fl-uploader-total-progress-okay,.fl-uploader-total-progress-errored{position:absolute;display:none;background-attachment:scroll;background-position:bottom left;background-repeat:repeat-x;overflow:hidden;left:0;z-index:4;}
.fl-uploader-file-progress{background-image:url('../images/gradient-file-green.png');background-color:#D1D6DD;border-right:1px solid #9FCE7F;width:76%;}
.fl-uploader-file-progress .fl-uploader-file-progress-text{display:none;}
.fl-uploader-total-progress-okay,.fl-uploader-total-progress-errored{top:0;height:100%;width:76%;}
.fl-uploader-total-progress-okay{background-image:url('../images/gradient-total-green.png');border-right:1px solid #9FCE7F;background-color:#BDBFC1;}
.fl-uploader-total-progress-errored{background-image:url('../images/gradient-total-yellow.png');border-right:1px solid #E8C81C;background-color:#F6ECA0;}
.fl-uploader-flash9-container{overflow:hidden;width:1px;height:1px;}
.hideUploaderForOpera{visibility:hidden;overflow:hidden;height:0;width:0;padding:0;}