%table#talks.column
  %col{:width=>"30%"}/
  %col{:width=>"25%"}/
  %col{:width=>"30%"}/
  %col{:width=>"15%"}/
  %tr
    %th Identifier             
    %th Recorder           
    %th Uploaded by                                                                    
    %th Date Uploaded
  =render :partial=>'recordings/index', :collection=>@solr_result.hits