
:plain
  <style type="text/css" media="screen">
    input.editable-edit, input.textile-edit {display:none}
  </style>

.document_viewer#cover_container

  %div.accordion-section
    %h2.section-title Talks in this Course
    = render :partial => 'marpa_courses/talks'
  
  %div.accordion-section
    %h2.section-title Description
    = render :partial => 'marpa_courses/show_description'

