- @page_title = "Contribute"
-@page_explanation = "Unlike the Basic Assets app, which immediately creates a new object when you click \"New Asset\", the users of this Program & Talks application wanted to fill out a form before creating the object."
-@suggested_actions = "Try filling out the title, location, and date info then click \"Create\" to see your new Program object and upload Lectures into it."

-form_for :course, :url => {:action => "create" } do |f| 
  = f.error_messages 
  .column.span-15
    =metadata_form_field("title", f, :label => "Title")
    =metadata_form_field("subject", f, :label => "Topics")
    =metadata_form_field("commentary_taught", f, :label => "Commentary")
    =metadata_form_field("language", f, :label=>"Language of Teaching")
    .column.span-6
      =metadata_form_field("contributor", f, :label=>"Translator")
    .column.span-5.last
      =metadata_form_field("language", f, :label=>"Language of Translator (broken)")
  .column.span-9.last
    =metadata_form_field("location", f, :label => "Location")
    =metadata_form_field("date", f, :label=>"Dates of Program")
    > Start & End Date of Program as dates...
    =metadata_form_field("medium", f, :label=>"Format of Original Recordings")
    > "Number of Tapes, CD, used to record course"
    =metadata_form_field("original_recorded_by", f, :label=>"Originally Recorded by")
    =metadata_form_field("tibetan_materials", f, :label=>"Tibetan handouts, books, pecha, page numbers")
    =metadata_form_field("english_materials", f, :label=>"English handouts, books, pecha, page numbers")
    =metadata_form_field("english_materials", f, :label=>"Other language handouts, books, pecha, page numbers")
  =submit_tag 'Create'






