%tr.result
  %td.title
    -name = result.has_key?("title_t") && !result["title_t"].empty? ? result["title_t"] : result["id"]
    -safe_pid = result['id'].gsub(":", "_")
    -detail_url = catalog_url(result["id"])
    = link_to(name, detail_url)
  %td.date
    =result["date_t"]
  %td.keywords
    =result["subject_t"]
  %td.duration
    =result["digital_master_duration_t"]
    
