-#=stylesheet_link_tag 'lectures.css', :cache=>true
%table#lectures.column
  %col{:width=>"25%"}/
  %col{:width=>"15%"}/
  %col{:width=>"55%"}/
  %col{:width=>"15%"}/

  %th Lecture Title              
  %th Date recorded           
  %th Topics                                                                    
  %th Run Time
  =render :partial=>'result', :collection=>@solr_result["response"]["docs"]    
.section_footer
  #uploader
    =link_to_ajax_form "Add lectures", new_file_asset_path(:course_id=>@course.pid)