%tr
  %td=link_to ptf.object.text.english_title, text_path(ptf.object.text)
  %td=ptf.object.text.author.tibetian_name if ptf.object.text.author
  %td
  %td
    =ptf.select :nature, {'root text'=>'root', 'commentary text' =>'commentary'}
  %td
    =ptf.text_field :chapter
  %td
    =ptf.text_field :sections
  %td
    =ptf.text_field :pages


