%li[talk]
  %h2 
    =link_to talk.english_title, talk_path(talk.pid)
    
  - disseminations = talk.disseminations
  - unless disseminations.empty?
    - disseminations.each do |dissemination|
      - if dissemination.uploaded.present?
        .player
          %audio{:controls=>"controls"}
            %source{:src=>dissemination.authenticated_s3_get_url}
            
  %dl.details
    %dt.date Date
    %dd.date=talk.date
    %dt.topics Topics
    %dd.topics
      %ul
        - talk.topics.each do |topic|
          %li
            =topic.english_title
    / %dt.texts Texts
    / %dd.texts
    /   %ul
    /     - talk.talk_texts.each do |tt|
    /       %li
    /         %span.text-title.cropped
    /           =link_to tt.text.english_title, text_path(tt.text.pid)
    /         - unless tt.chapter.empty?
    /           Chapter(s) 
    /           =tt.chapter
    /         - unless tt.sections.empty?
    /           Section(s) 
    /           =tt.sections
    /         - unless tt.pages.empty?
    /           Page(s)
    /           =tt.pages  
    / %dt.songs Songs
    / %dd.songs
    /   %ul
    /     - talk.songs.each do |song|
    /       %li
    /         =link_to song.english_title, song_path(song.pid)
            
