- talks = @program.talks
%li.fieldset.course-talks
  .legend
    Talks
    %span.count="(#{talks.count})"
  
  %ul
    =render :partial=>'talk', :collection=>talks
  
  = link_to "Add a Talk", talks_path(:program=>@program), :method=>:post
