-@page_explanation = "This Programs & Talks app is an example of a slightly more complex ActiveFedora application.  It was built around a specific organization's notion of what Programs & Talks are, how they fit together, and how the people in the organization want to create/maintain their collections."
#actions
  =link_to("New Program", new_course_path)
=render :partial=>"search/pagination"

%table#courses
  %col{:width=>"25%"}/
  %col{:width=>"15%"}/
  %col{:width=>"15%"}/
  %col{:width=>"55%"}/
  
  %th Title
  %th Date Recorded
  %th Location 
  %th Main Topics 
  =render :partial=>'courses/result', :collection=>@solr_result["response"]["docs"]

