
#control_overlay
{
	background-color: #000;
}
.modal
{
	background-color: #fff;
	border: 2px solid blue;
	padding: 10px;
}
td.failed
{
	background-color: orange;
}
td.completed
{
	background-color: lightgreen;
}

.datastream .actions 
{
	float:right; 
	clear:both;
}
.datastream .actions a 
{
	margin-left:6px;
}
ul#parts li, ul#datastreams li  
{
	clear:both; 
	list-style:none;
}
.part_label{
	padding-left:8px;
	background-color:#CBCB98;
}
#parts 
{
	clear:both;
	margin-left:0px;
}
#parts .actions 
{
	float:right;
}


.field .label
{
	color: black;
	display: block;
	font-weight: bold;
	margin-right: 5px;
}
.field .value
{
	margin:0 0 1em;
	font-size:12px;
}
.editor input 
{
	margin-right:8px;
}

label.editable
{
	color: #e59f00;
}
#lightwindow_contents {padding-top:15px}
#lightwindow_contents fieldset {padding-top:10px;}
#lightwindow_contents label
{
	height:10px; 
	margin:20px 0px 5px 0px;
}
#add 
{
  padding: 20px;
}
.lecture_info h1 {margin:0; padding:3px; font-size:1em; background-color:#DDDDDD}
.lecture_info h1 label {color:black; float:left;}
.lecture_info h1 .editable {color:black; float:left;margin-right:10px}
.lecture_info h1 .field .values {display:inline}
.lecture_info h2 {margin:0; font-size:1em;}
a#add_file_button {margin-left:15px;}
#lecture_detail {background-color:#CBCB98;margin:0px 0px 10px 0px;padding:5px;}
#lecture_detail label {float:left;}
#user_session_info .message {display:inline; float:left; margin-right:5px;}
.tooltip{background:#FFCCCC}
.help.icon {float:left; height:15px; width:15px;}
.file_type.icon{width:30px;}
.destructive{clear:both;float:left;margin-right:7px;}
.destructive img{margin-top:3px;width:13px;}