#q {
  width: 400px;
  margin-bottom: 3px;
  margin-right: 0;
}

#submit {
  margin-left: 0;
  vertical-align: top;
  border-left: none;
}

#search {
  height: 40px;
  padding-left: 230px;
  margin-left: 100px;
  padding-top: 40px;
}

#appliedParams {
  margin-left: 330px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  width: 405px;
  font-size: 10pt;
}

#appliedParams h3 {
  margin: 5px 5px 5px 10px;
  font-size: 10pt;
}

#appliedParams .appliedFilter {
  display: block;
  padding: 3px 3px 3px 30px;
  background-color: #fee;
  position: relative;
}
#appliedParams .filterName {
  font-weight: bold;
}

.appliedFilter {
}
.appliedFilter .btnRemove{
  display:block;
  position:absolute; 
  z-index:5; 
  left :5px; 
  top:0; 
  width:16px;
  height:100%; 
  background:url(../images/delete.png) no-repeat center center; 
  border-bottom: none;
  text-indent:-99999px; /* text there for screen readers, hidden visually */
  outline: none; /* the screen reader text indent above will make weird outlines on link clicking, unless we turn em off. */
}

#facets {
  width: 163px;
  float: left;
}

#facets ul {
  padding-left: 2px;
  list-style-type: none;
  font-size: 10pt;
  overflow: auto;
}

.pageEntriesInfo {
  margin-left: 180px;
}

#sortAndPerPage {
  margin-left: 180px;
  margin-top: 10px;
}

#sortAndPerPage form {
  display: inline;
  font-size: 10pt;
}
#documents {
  margin-left: 180px;
}

#showHead {
  display: none;
}

.pagination {
  margin-top: 10px;
  margin-left: 180px;
}
.pagination h2 {
  display: none;
}
.pagination .page_links {
  display: inline-block;
}
