body {
  text-align: center;
}
#logo {
  margin: auto;
  
}
#search {
  width: 853px; /* same width as large logo*/
  margin: 10px auto 30px auto;

  background: none;
  padding-left: 0;
}

.search #submit {
  margin: 10px auto ;
  display: block;
}

#q {
  width: 100%;
}
