fieldset.course-talks {
  float:right;
  width: 47%;
}

#title-container {
  margin-top: 40px;
  font-size: 24pt;
}

#title {
  width: 800px;
  font-size: 24pt;
}


fieldset.permissions {
  float: right;
  width: 47%;
}

.delete_asset {
  display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.title-line {
  margin-bottom: 20px;
}


.checkbox-group {
  width: 200px;
  display: inline-block;
} 
