.fieldset.course-talks {
  float:right;
  width: 47%;
}

#title-container {
  margin-top: 40px;
}

#program_title {
  width: 800px;
  font-size: 18pt;
}


fieldset.permissions {
  float: right;
  width: 47%;
}

.delete_asset {
  display: none;
}

.checkbox-group {
  width: 200px;
  display: inline-block;
} 

.permissions {
  display: none;
}


table.associated-texts {
  min-width: 500px;
  max-width: 98%;
}

.chapter {
  width: 4em;
}

.sections {
  width: 4em;
}

.pages {
  width: 4em;
}

td {
  padding: 3px 5px;
}

li.note {
  margin-top: 20px;
}

.notice {
  margin-left: 180px;
}
