fieldset.course-talks {
  float:right;
  width: 47%;
}

#title-container {
  margin-top: 40px;
}

#program_title {
  width: 800px;
  font-size: 18pt;
}


fieldset.permissions {
  float: right;
  width: 47%;
}

.delete_asset {
  display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.title-line {
  margin-bottom: 20px;
}


.checkbox-group {
  width: 200px;
  display: inline-block;
} 

.permissions {
  display: none;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

table.associated-texts {
  min-width: 500px;
  max-width: 98%;
  margin-left: 10px;
}

thead tr {
  background-color: #aaa;
}

th {
  padding: 7px 20px;
  text-align: left;
}

tr {
  background-color: #eee;
}
tr:nth-child(2n) {
  background-color: #ccc;
}

.chapter {
  width: 4em;
}

.sections {
  width: 4em;
}

.pages {
  width: 4em;
}
