.fieldset.course-talks {
  float:right;
  width: 47%;
}

.fieldset {
  border:none;
  background-color: #e1ddd4;
  padding-bottom: 5px;
}

.fieldset .legend {
  padding: 8px;
  background-color: #f2c270;
  color: #666;
  text-transform:uppercase;
  font-weight: bold;
  font-size: 10pt;
  
}

.fieldset > a, .fieldset > .addline {
  margin-left: 10px;
}

.title-line {
  margin-bottom: 35px;
  margin-left: 180px;
  width: 800px;
}

#title-container {
  margin-top: 40px;
}

#program_title {
  width: 800px;
  font-size: 18pt;
}


fieldset.permissions {
  float: right;
  width: 47%;
}

.delete_asset {
  display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



.checkbox-group {
  width: 200px;
  display: inline-block;
} 

.permissions {
  display: none;
}

table {
  border-collapse: collapse;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;

}

table.associated-texts {
  min-width: 500px;
  max-width: 98%;
}

thead tr {
  color: #6e6866;
}

th {
  padding: 2px 20px;
  text-align: left;
  font-size: 10pt;
}


tbody tr {
  border-top: 1px dotted #c1c1c1;
}
.chapter {
  width: 4em;
}

.sections {
  width: 4em;
}

.pages {
  width: 4em;
}

td {
  padding: 3px 5px;
}

li.note {
  margin-top: 20px;
}

.notice {
  margin-left: 180px;
}
