.course-title {
  padding-top: 20px;
}


fieldset.recordings {
  width: 500px;
  float:right;
}


table {
  margin-left: 10px;
  border: 2px solid black;
  border-collapse: collapse;
}

table.associated-quotes, table.associated-songs {
  width: 500px;
}

thead tr {
  background-color: #aaa;
}

th {
  padding: 7px 20px;
  text-align: left;
}

tr {
  background-color: #eee;
}
tr:nth-child(2n) {
  background-color: #ccc;
}
