.course-title {
  padding-top: 20px;
}


.disseminations, .manage_recordings {
  width: 500px;
  float:right;
  clear: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

#title-container {
  margin-top: 40px;
}

#talk_english_title {
  width: 800px;
  font-size: 18pt;
}


table.associated-quotes, table.associated-songs, table.associated-texts {
  min-width: 500px;
  max-width: 98%;
}

th {
  padding: 7px 20px;
  text-align: left;
}


.chapter {
  width: 4em;
}

.sections {
  width: 4em;
}

.pages {
  width: 4em;
}

