%table#disseminations.column
  %col{:width=>"30%"}/
  %col{:width=>"25%"}/
  %col{:width=>"30%"}/
  %col{:width=>"15%"}/
  %thead
    %tr
      %th Identifier   
      %th Recorded by  
  %tbody
  =render :partial=>'dissemination', :collection=>@talk.disseminations
