%tr[dissemination]
  - if dissemination.location.include?("Amazon S3")
    %td.player
      %audio{:controls=>"controls"}
        %source{:src=>dissemination.s3_url}
  -else
    %td.identifier
      =link_to dissemination.instantiation_identifier, recording_instantiation_path(dissemination.pid)
  %td.recorded_by
    =dissemination.recording.originally_recorded_by
