%tr[dissemination]
  - if dissemination.uploaded.present?
    %td.player
      %audio{:controls=>"controls"}
        %source{:src=>dissemination.authenticated_s3_get_url}
  -else
    %td.identifier
      =link_to dissemination.instantiation_identifier, recording_instantiation_path(dissemination.pid)
  %td.recorded_by
    =#dissemination.recording.originally_recorded_by
