%li[document]
  %h2
    %span.type
      Talk:
    =link_to document["title_t"], catalog_path(document["id"])
  %dl.fields
    %dt
      Location
    %dd=document["place_facet"]
    %dt
      Date
    %dd=document["date_facet"]
    %dt
      Topics
    %dd=document["topic_facet"]


