-#=stylesheet_link_tag 'lectures.css', :cache=>true
%span 
  Total: 
  = @talk.parts(:response_format=>:solr, :rows=>1000).hits.length

%table#talks.column
  %col{:width=>"30%"}/
  %col{:width=>"25%"}/
  %col{:width=>"30%"}/
  %col{:width=>"15%"}/
  %tr
    %th Recording Title              
    %th Date recorded           
    %th Topics                                                                    
    %th Run Time
  =render :partial=>'recordings/index', :collection=>@talk.parts(:response_format=>:solr, :rows=>1000).hits
  