.fieldset.manage_recordings
  - recordings = @talk.recordings
  .legend
    Recordings (#{recordings.count})
  
  = link_to "Add an alternate Recording", recordings_path(:talk=>@talk), :method=>:post
  
  =render :partial=>'recording', :collection=>recordings
      
