%tr.result
  %td.title
    -name = result.has_key?("english_title_t") && !result["english_title_t"].empty? ? result["english_title_t"] : result["id"]
    -detail_url = catalog_url(result["id"])
    = link_to(name, edit_talk_path(result["id"]))
  %td.date
    =result["date_t"]
  %td.keywords
    =result["subject_t"]
  %td.duration
    =result["digital_master_duration_t"]
    
