-content_for :head do
  =stylesheet_link_tag 'forms'
  =javascript_include_tag 'edit_talk'
  :javascript
    $(document).ready(function() {
      $(document).editTalk();
    });

.course-title
  -if @course
    Course: 
    =link_to @course.title, catalog_path(@course)
  -else
    No course found

=form_for @talk do |f|
  %ul.form-fields
    %li
      %h1#title-text
        =@talk.english_title
      =f.label 'english_title', 'Title', :class=>'left-col'
      =f.text_field 'english_title'
      =link_to 'edit title', '#', :id=>'edit-title'
  
    %li
      =f.label 'date', 'Date', :class=>'left-col'
      =f.text_field 'date'
    %li
      =f.label 'duration', 'Duration', :class=>'left-col'
      =f.text_field 'duration'
    %li
      =f.label 'topics', 'Topics', :class=>'left-col'
      =select_tag 'talk[topic_ids][]', options_from_collection_for_select(Topic.find(:all), "pid", "english_title", @talk.topic_ids), :multiple=>true
      =link_to "add a topic", topics_path(:talk=>@talk), :method=>'post'
    %li
      =f.label 'subject', 'Keywords', :class=>'left-col'
      =f.text_field 'subject'
    %li
      .label
        Associated Texts
      =link_to "add a text", texts_path(:talk=>@talk), :method=>'post'
      %table.associated-texts
        %thead
          %tr
            %th
              Title
            %th
              Author
            %th
            %th
              Root/Commentary
            %th
              Chapter
            %th
              Section(s)
            %th
              Page(s)
        -@talk.texts.each do |text|
          %tr
            %td
              =text.english_title
            %td
            %td
            %td
            %td
            %td
    %li
      .label
        Songs
      %table.associated-songs
        %thead
          %tr
            %th
              Title
            %th
        -@talk.songs.each do |song|
          %tr
            %td
              =song.english_title
            %td
        %tr.addline
          %td{:style=>'white-space: nowrap;'}
            =select_tag 'song', options_from_collection_for_select(Song.find(:all), "pid", "english_title")
            =tag 'input', :type=>'button', :value=>"Add", "data-path"=> add_song_talk_path(@talk, @song)
          %td
            =link_to "create a song", songs_path(:talk=>@talk), :method=>'post'
    %li
      .label
        Verses Quoted
      =link_to "add a quotation", quotations_path(:talk=>@talk), :method=>'post' 
      %table.associated-quotes
        %thead
          %tr
            %th
              Title
            %th
        -@talk.quotations.each do |quote|
          %tr
            %td
              =quote.english_title
            %td
    %li
      =f.label 'note', 'Notes/Annotations'
      =f.text_area 'note'
    %li
      =f.submit 'Save talk'
      =hidden_field_tag 'course', params[:course]


