- @page_title = application_name + " #{@talk.english_title}"
-content_for :head do
  =stylesheet_link_tag 'forms'
  =javascript_include_tag 'edit_talk'
  :javascript
    $(document).ready(function() {
      $(document).editTalk();
    });

=form_for @talk do |f|
  .title-line
    Program:
    -if @program 
      =link_to @program.title, program_path(@program)
    -else
      (No program found)
    #title-container
      %h1#title-text
        Talk:
        =@talk.english_title
      =f.text_field 'english_title'
      =link_to 'edit title', '#', :id=>'edit-title'
      
  %fieldset.disseminations
    %legend 
      Disseminations of 
      =@talk.english_title
    = render :partial=>"disseminations"
  %fieldset.manage_recordings
    %legend
      Manage Recordings of 
      =@talk.english_title
    = render :partial=>"recordings"
    = link_to "Add a Recording", recordings_path(:talk=>@talk), :method=>:post
  %ul.form-fields
    %li
      =f.label 'date', 'Date', :class=>'left-col'
      =f.text_field 'date'
    %li
      =f.label 'duration', 'Duration', :class=>'left-col'
      =f.text_field 'duration'
    %li
      =f.label 'topics', 'Topics', :class=>'left-col'
      =select_tag 'talk[topic_ids][]', options_from_collection_for_select(Topic.find(:all), "pid", "english_title", @talk.topic_ids), :multiple=>true
      =link_to "add a topic", topics_path(:talk=>@talk), :method=>'post'
    %li
      =f.label 'subject', 'Keywords', :class=>'left-col'
      =f.text_field 'subject', :class=>"extra_long"
    %li
      %h3.label
        Texts
      %table.associated-texts
        %thead
          %tr
            %th
              Title
            %th
              Author
            %th
            %th
              Root/Commentary
            %th
              Chapter
            %th
              Section(s)
            %th
              Page(s)
        %tbody
          =render :partial=>"nested_texts"
      %div.addline
        =select_tag 'text_id', options_from_collection_for_select(::Text.find(:all), "pid", "english_title")
        =tag 'input', :type=>'button', :value=>"Associate Text", "data-path"=> add_talk_text_talk_path(@talk), "data-field"=>'text_id'
        =link_to "create a text", texts_path(:talk=>@talk), :method=>'post'
          
    %li
      %h3.label
        Songs
      %table.associated-songs
        %thead
          %tr
            %th
              Title
            %th
        =render :partial=>"song", :collection=>@talk.songs
        %tr.addline
          %td{:colspan=>2}
            =select_tag 'song', options_from_collection_for_select(Song.find(:all), "pid", "english_title")
            =tag 'input', :type=>'button', :value=>"Associate Song", "data-path"=> add_song_talk_path(@talk), "data-field"=>'song'
            =link_to "create a song", songs_path(:talk=>@talk), :method=>'post'
    %li
      %h3.label
        Verses Quoted
      %table.associated-quotes
        %thead
          %tr
            %th
              Title
            %th
        =render :partial=>"quotation", :collection=>@talk.quotations
        %tr.addline
          %td{:colspan=>2}
            =select_tag 'quotation', options_from_collection_for_select(::Quotation.find(:all), "pid", "english_title")
            =tag 'input', :type=>'button', :value=>"Associate Quotation", "data-path"=> add_quotation_talk_path(@talk), "data-field"=>'quotation'
            =link_to "create a quotation", quotations_path(:talk=>@talk), :method=>'post'
    %li
      =f.label 'note', 'Notes/Annotations'
      =f.text_area 'note', :class=>"fullsize"
    %li
      =f.submit 'Save talk'
      =hidden_field_tag 'course', params[:course]


