/ #logo
/     =link_to image_tag("header_logo.jpg", :id=>"logo", :class=>"span-3"), home_path
.yui-u.first 
  = link_to image_tag("application.jpg", :alt=>'',:id=>'application-img'), root_path 
  #site_description collecting the treasure of amrita like speech of the glorious guru
  #site_name= application_name
  #site_greeting Sarva Mangalam
.yui-u#page_explanation=@page_explanation
