- content_for(:head) do
  =stylesheet_link_tag 'application', params[:controller], 'forms'
=link_to "Manage Songs", songs_path
%h1
  Song
=form_for @song do |f|
  =f.label :english_title, "Title"
  =f.text_field :english_title
  =f.submit "Save"
  =hidden_field_tag :talk, params[:talk]
