<div class="document">
	<h1>Welcome to LIBRA, the online archive of UVa scholarship.</h1>
    <p>LIBRA makes faculty publications available to the world and
    provides safe and secure storage for the scholarly output of the
    UVa community. By depositing your work in LIBRA, you can
    help transform the landscape of scholarly publishing.</p>

  <% # container for author facets -%>
    <% display_facet = @response.facets.detect {|f| f.name == 'person_full_name_cid_facet'} -%>
    <% if display_facet &&  display_facet.items.length > 0 %>
      <div id="authors" >
        <%-
          get_randomized_display_items(display_facet.items).each_with_index do |item,index| 
        -%>
          <% if index % 4 == 0 %>
            <div class="author_browse_row">
          <% end %>
            <div class="author_browse_image">
                <%= render_complex_facet_image('person_full_name_cid_facet', item) %><br/>
                <%= render_complex_facet_value('person_full_name_cid_facet', item) %>
            </div>
          <% if index % 4 == 3 %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
</div>

</div>