.fieldset {
  clear: both  /* keeps talks from overrunning texts*/
}
.fieldset.course-talks {
  float:right;
  width: 47%;
}

.fieldset ul {
  list-style: none;
  padding-left: 10px;
}
.fieldset ul > li {
}

dl.details {
  margin-left: 10px;
}
.details dd {
  margin-left: 10px;
  margin-top: 0px;
}
.details dd ul {
  padding-left: 0px;
  list-style: none;
  margin-top: 5px;
}

.player {
  float: right;
  margin-top: 15px;
  margin-right: 25px;
}

#title-container {
  margin-top: 40px;
}

#program_title {
  width: 800px;
  font-size: 18pt;
}


fieldset.permissions {
  float: right;
  width: 47%;
}

.delete_asset {
  display: none;
}

.checkbox-group {
  width: 200px;
  display: inline-block;
} 

.permissions {
  display: none;
}


table.associated-texts {
  min-width: 500px;
  max-width: 98%;
}

.player {
  float: right;
  margin-top: 45px;
  margin-right: 46px;
}

.chapter {
  width: 4em;
}

.sections {
  width: 4em;
}

.pages {
  width: 4em;
}

td {
  padding: 3px 5px;
}

li.note {
  margin-top: 20px;
}

.notice {
  margin-left: 180px;
}
