%h1
  Text: 
  =@text.english_title
=form_for @text do |f|
  %ul.form_fields
    %li.english_title
      =f.label :english_title, "Title" , :class=>'left-col'
      =f.text_field :english_title, :class=>"long"
    %li.tibetan_title.long
      =f.label :tibetan_title, "Title (པོད་སྐད)" , :class=>'left-col'
      =f.text_field :tibetan_title, :class=>"long"
    %li.wylie_title.long
      =f.label :wylie_title, "Title (wylie)" , :class=>'left-col'
      =f.text_field :wylie_title, :class=>"long"
    %li.marpa_transliteration_title.long
      =f.label :marpa_transliteration_title, "Title (phonetic)" , :class=>'left-col'
      =f.text_field :marpa_transliteration_title, :class=>"long"
      
  =f.submit "Save"
  - if !params[:talk].nil?
    =hidden_field_tag :talk, params[:talk]
  - elsif !params[:program].nil?
    =hidden_field_tag :program, params[:program]

