%h1
  Edit a text
=form_for @text do |f|
  =f.label :english_title, "Title"
  =f.text_field :english_title
  =f.submit "Save"
  - if !params[:talk].nil?
    =hidden_field_tag :talk, params[:talk]
  - elsif !params[:program].nil?
    =hidden_field_tag :program, params[:program]

