- content_for(:head) do
  =stylesheet_link_tag 'application', params[:controller], 'forms'
=link_to "Manage Locations", places_path

=form_for @place do |f|
  %fieldset
    %legend="Location: #{@place.name}"
    .control-group
      =f.label 'name', 'Location/Center Name', :class=>'left-col'
      =f.text_field 'name'
    .control-group
      =f.label 'map_coordinates', :class=>'left-col'
      =f.text_field 'map_coordinates'
    .control-group
      =f.label 'description', :class=>'left-col'
      =f.text_area  'description'
    .form-actions 
      -unless params[:program].nil? 
        =hidden_field_tag 'program', params[:program]
      =f.submit

